<div class="grid">
  <div class="show-card photo-element"></div>
  <div class="show-card description-element">
    <h3>Description</h3>
  </div>
  <div class="show-card dates-element">
    <h3>Dates</h3>
  </div>
  <div class="show-card map-element"></div>
  <div class="show-card owner-element">
    <h3>Owner</h3>
  </div>
</div>
