// .edit_island {
//   display: grid;
//   grid-template-columns: 900px 1fr;
//   grid-template-rows:  25% 25% 25% 25%;
//   height: 200vh;
//   background-image: cover;
//   grid-column-gap: 0;
//   grid-row-gap: 0;
//   border: 1px solid grey;
//   font-family: 'Work Sans', sans-serif;
// }
//   grid-row: 1 / span 3;
//   grid-column: 1 / span 2;
// }
.update-island-button {
  margin-top: 20px;

}

.photo-edit {
  width: 100%;
  height: 500px;
  padding: 30px;
}
#island_dates {
  display: flex;
  justify-content: center;

}
#island_description {
  height: 100%;
  width: 300px;
  margin: 10px;

}

#island_name {
  width: 430px;
}

.owner-name {
  justify-content: center;
  text-align: center;
  margin: 5px;
}

.owner-edit-info {
  display: flex;
  align-items: center;
}

#island_address {
  width: 430px;
}









