.grid-container {
}

.grid {
  display: grid;
  grid-template-columns: 900px 1fr;
  grid-template-rows: 40% 30% 30%;
  height: 200vh;
  background-image: cover;
  grid-column-gap: 0;
  grid-row-gap: 0;
  font-family: 'Work Sans', sans-serif;
  border: 1px solid lightgrey;
}

// .show-card {
//   margin: 10px;
//   padding-left: 10px;
// }

h3, {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}

p {
  font-family: 'Work Sans', sans-serif;
}
.photo-element {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  margin: 0;
  padding: 0;
  background: none
}


.description-element {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  margin-left: 80px;
  margin-top: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.map-element {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  margin-left: 80px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.dates-element {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  margin-right: 80px;
  margin-top: 20px;
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.owner-element {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  margin-right: 80px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.show-card {
  box-shadow: 2px 1px 1px lightgrey;
  // border: 0.3px solid #D3D3D3;
}

.update-island-button {
  text-align: center;
  justify-content: center;
}

.photo-element {
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.show-card {
  background-color: white;
}

.island-modal-body {
padding: 30px;

}

.modal-center-island {
  top:38px;
}
// .carousel-item {
//   position: relative;
//   display: none;
//   align-items: center;
//   width: 100%;
//   @include transition($carousel-transition);
//   backface-visibility: hidden;
//   perspective: 1000px;
// }
