.edit_island {
  display: grid;
  rid-template-columns: 500px 1fr;
  grid-template-rows: 40% 30% 30%;
  height: 100vh;
  background-image: cover;
  grid-column-gap: 0;
  grid-row-gap: 0;
  border: 1px solid grey;
  font-family: 'Work Sans', sans-serif;
}
//   grid-row: 1 / span 3;
//   grid-column: 1 / span 2;
// }
.update-island-button {
  margin-top: 20px;
}
