.user-islands-container {
  overflow: scroll;
  height: 75vh;
  width: 80%;
  margin: 15px auto;
}

.overall-container {
  margin-bottom: 60px;
  margin-top: 0;
  // height: 570px;
  // width: 950px;
}

.user-islands-title {
  text-align: center;
  justify-content: center;
  padding-bottom: 4px;

}

.user-profile-container {
  padding-top: 80px;
}

.user-islands-column {
  padding-top: 30px;
  margin-left: 120px;
  margin-top: 10px;
}

h3, p, {
  font-family: 'Niramit', regular;
}

.user-profile-column {
  margin-right: 20px;
}

.profile-user-card {
  margin: 10px auto;
}
