.user-islands-container {
  overflow: scroll;
  height: 80vh;
  width: 90%;
}

.overall-container {
  margin-bottom: 60px;
  margin-top: 30px;
}

.user-islands-title {
  text-align: center;
  justify-content: center;
  padding-bottom: 10px;

}

.user-profile-container {
  padding-top: 80px;
}

.user-islands-column {
  padding-top: 30px;
}

h3, p, {
  font-family: 'Niramit', regular;
}
