<div class="container">
  <div class="row">
    <h2 class="profile-title" align="center" >Your Profile</h2>
      <div class="col-sm">
        <div class="panel panel-default">
          <div class="panel-heading">  <h4>Host</h4></div>
           <div class="panel-body">
            <div class="box box-info">
              <div class="box-body">
                <div class="col-sm">
                  <div align="center">
                    <img id="profile-image1" class="img-circle img-responsive" alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg">
                      <input id="profile-image-upload" class="hidden" type="file">
                  </div>
                    <div class="col-sm-6">
                    <h4 style="color:#00b1b1;">Anna Lily Hercot </h4></span>
                    </div>
                    <div class="clearfix"></div>
                    <hr style="margin:5px 0 5px 0;">


                    <div class="col-sm-5 col-xs-6 tital " >First Name:</div><div class="col-sm-7 col-xs-6 ">Anna</div>
                         <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital " >Middle Name:</div><div class="col-sm-7"> Lily</div>
                      <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital " >Last Name:</div><div class="col-sm-7"> Hercot</div>
                      <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital " >Date Of Joining:</div><div class="col-sm-7">15 Jun 2018</div>

                     <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital " >Nationality:</div><div class="col-sm-7">French</div>

                     <div class="clearfix"></div>
                    <div class="bot-border"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

