#btn{
    position: absolute;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    top: 390px;
}

.btn-medium {
  color: white;
  border: 1.4px solid white;
  padding: 10px 24px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 18px;
}
.btn-medium:hover {
  text-decoration: none;
  color: black;
  background-color: white;
  opacity: 1;
}


.btn-red {
  height: 40px;
  width: 200px;
  color: #ea5455;
  background-color: white;
  border-color: #ea5455;
  border-radius:50px;
  transition: all 0.3s ease;
}

.delete-button {
  margin-top: 15px;
}

.btn-red:hover {
  background: #ea5455;
  color:white;

}
.btn-blue {
  color: white;
  background-color: #152b42;
  border-color: white;
  border-radius:50px;
  transition: all 0.3s ease;
  height: 40px;
  width: 200px;
}

.btn-blue:hover {
  color: white;
  width: 220px;

}

.btn-filter {
  margin: 20px auto;
}

.btn-white {
  color: #152b42;
  background-color: white;
  border-color: #152b42;
  border-radius:50px;
  transition: all 0.3s ease;
  height: 40px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    text-decoration: none;
    opacity: 0.8;
    color: #152b42;
  }
}
