

.slick-slide {
  margin: 0 10px;

}
.carousel-index {
  display: flex !important;
  align-items: center;
  height: 300px;
  margin-bottom: 30px;
}

.fa-angle-right, .fa-angle-left {
  font-size: 35px;
  height: 300px;
  display: flex;
  align-items: center;
}

.carousel-show {
  display: flex !important;
  align-items: center;
  .slick-current {
    margin: 0;
  }

}

.carousel-show-item {
}

.slick-dots {
  position: absolute;
  top: 30px;

}
.slick-dotted.slick-slider {
  margin: 0 !important;
}


