.carousel-item {
  background: #DDD;
  width: 300px;
  height: 300px;


}

.slick-slide {
  margin: 0 10px;

}
.carousel-index {
  display: flex !important;
  align-items: center;
}

.fa-angle-right, .fa-angle-left {
  font-size: 50px;
  height: 300px;
  display: flex;
  align-items: center;
}
