

.slick-slide {
  margin: 0 10px;

}
.carousel-index {
  display: flex !important;
  align-items: center;
  height: 300px;
}

.fa-angle-right, .fa-angle-left {
  font-size: 50px;
  height: 300px;
  display: flex;
  align-items: center;
}

.carousel-show {
  display: flex !important;
  align-items: center;


}

.carousel-show-item {
}

.slick-dots {
  position: absolute;
  top: 30px;

}
.slick-dotted.slick-slider {
  margin: 0 !important;
}


