.card-index {
  height: 300px;
  width: 300px;
  position: relative;
  background: #DDD;
}

.cards-without-carousel {
  display: flex;
  justify-content: space-around;
  width: 100%
}

.card-body {
  height: 250px;
  position: relative;
  background-size: cover !important;
  background-position: center  !important;

  h2 {
    color: white;
    position: absolute;
    margin: 0;
    bottom: 10px;
    left: 30px;
  }
}


.card-footer {
  height: 50px;
  background: white;
  display: flex;
  color: rgb(100,100,100);
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  i {
    display: inline;
    margin: 0 5px;
  }
  p {
    margin: 0;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: -50px;
  right: 0;
  width: 100%;
  background: black;
  opacity: 0;
  &:hover {
  opacity: 0.05;
  }
}
.description-hidden {
  color: transparent;
  position: absolute;
  background: transparent;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 15px 25px;
  &:hover {
    color: black;
    background: white;

  }
}
