/* Main navbar */
.navbar-island {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  // background: #868aa7;

  background:#152b42;
  transition: all 0.3s ease;
  height: 60px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  z-index:1000;
}


div#navbar_home {
    position: fixed;
    background: transparent;
    box-shadow: none;
    transition: 0.5s background-color ease;

    &.navbar-island-blue {
      background: #152b42;
      box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
      transition: background-color 200ms linear;
    }
}

#logotag {
  width: 86px;
  height: 92px;
}

/* Logo */
.navbar-island-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-island .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-island-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-island-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-island-link {
  color: white;
  font-size: 15px;
  font-family: 'Niramit', sans-serif;
}
.navbar-island-link:hover {
  color: lightgrey;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-island-dropdown-menu {
  margin-top: 16px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-island-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-island-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-island-dropdown-menu:before {
  content: ' ';
  height: 15px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.logo {
  color:white;
  font-size:20px;
  font-family: 'Cinzel', cursive;

}
.logo:hover {
  color: lightgrey;
  text-decoration: none;
}



#formModalLabel{
  color: #686b76;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 2s steps(60, end);
}


.btn-pink {
  color: #fff;
  background-color: #ed8a8a;
  border-color: #ced4d8;
}

.btn-pink:hover {
  background-color: lightgrey;
}

@media (min-width: 768px) {
  .modal-dialog.width-400 {
    width: 500px;
  }
}
