.side-search {
  background: white;
  width: 400px;
  padding: 30px;
  box-shadow: 3px 3px 6px lightgrey;
  color: #152b42;
  position: sticky;
  top: 60px;
  height: calc(100vh - 60px);
  input::placeholder {
    font-size: 15px;
    color: #152b42;
    opacity: 0.2;

  }

  h2 {
    margin-bottom: 50px;
  }
}
.search { }

.search-form input{
  display: block;
  border-radius: 4px;
}

.distance-input, .max-price-input {
  margin-bottom: 50px;
}
.location-input {
  height: 30px;
}
.price , .location {
  display: flex;
  justify-content: space-between;
}
